<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 g-3">
      <div class="row" [@openClose]="!toggleUploader ? 'open' : 'closed'" [@openCloseDisplay]="!toggleUploader ? 'open' : 'closed'">
        <div class="col-12 mb-3">
          <img src="assets/MepBday2022.png" style="width: 100%;">
        </div>
        <div class="col-12 mb-3">
          <p>Do you want to decorate your profile for Reine's upcoming birthday?</p>
          <p>Are you in a hurry or don't know how to?</p>
          <p>Fear no more! Just copy the image url down here or upload your profile picture and get your customized icon! It's just three simple clicks!</p>
          <button class="btn btn-primary" (click)="continue()">Continue</button>
        </div>
      </div>
      <div class="row" [@openClose]="toggleUploader ? 'open' : 'closed'" [@openCloseDisplay]="toggleUploader ? 'open' : 'closed'">
        <div class="col-12 mb-3">
          <p>Upload an image or copy the image url, then use the download button to get your icon!</p>
        </div>
        <div class="col-12 mb-3">
          <app-image-uploader (srcChangedEvent)="setNewSrc($event)"></app-image-uploader>
        </div>
        <div class="col-12 mb-3">
          <app-image-editor [resourceUrl]="resourceUrl"></app-image-editor>
        </div>
      </div>
    </div>
  </div>
</div>